<!-- Header -->
<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form>
					<div class="mb-3">
						<label class="input-group-text" for="inputGroupFile02">Imagen</label>
						<input type="file" class="form-control" id="inputGroupFile02">
					</div>
					<div class="mb-3">
						<label for="content" class="form-label">Nombre del producto</label>
						<input type="text" class="form-control" id="content">
					</div>
					<div class="mb-3">
						<label for="content" class="form-label">Descripcion</label>
						<input type="text" class="form-control" id="content">
					</div>
					<div class="mb-3">
						<label for="fecha" class="form-label">Fecha de carga</label>
						<input type="date" class="form-control" id="fecha">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</h2>


			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->