<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <form action="/result" method="GET" class="register-form">
			<input type="text" name="nombreDeUsuario" placeholder="nombreDeUsuario" class="register-form-input">
			<input type="text" name="Nombre" placeholder="Nombre" class="register-form-input">
			<input type="text" name="Apellido" placeholder="Apellido" class="register-form-input">
			<input type="text" name="email" placeholder="email" class="register-form-input">
			<input type="text" name="email" placeholder="email" class="register-form-input">
			<input type="date" name="fechaDeNac" placeholder="fechaDeNac" class="register-form-input">
			<input type="text" name="dni" placeholder="dni" class="register-form-input">
			<input type="text" name="fotoDePerfil" placeholder="fotoDePerfil" class="register-form-input">
			<button type="submit" class="register-form-button"><i class="fas fa-user"></i></button>></button>
		</form>
			</h2>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
