<!-- Header -->
<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form method="POST">
					<div class="mb-3">
						<label class="input-group-text" for="nombreUsuario">Nombre de Usuario</label>
						<input name="nombreUsuario" type="text" class="form-control" id="nombreUsuario">
					</div>
					<div class="mb-3">
						<label class="input-group-text" for="nombre">Nombre</label>
						<input name="nombre" type="text" class="form-control" id="nombre">
					</div>
					<div class="mb-3">
						<label for="contrasenia" class="form-label">Contraseña</label>
						<input name="contrasenia" type="password" class="form-control" id="contrasenia">
					</div>
					<div class="mb-3 form-check">
						<label for="email" class="form-check-label"> Mail </label>
						<input name="email" type="email" class="form-control" id="email" required>
					</div>
					<div class="mb-3">
						<label for="dni" class="form-label">DNI</label>
						<input name="dni" type="number" class="form-control" id="dni">
					</div>
					<div class="mb-3">
						<label for="fechaDeNac" class="form-label">Fecha de nacimiento</label>
						<input name="fechaDeNac" type="date" class="form-control" id="fechaDeNac">
					</div>
					<div class="mb-3">
						<label for="fotoDePerfil" class="form-label">Foto de perfil</label>
						<input name="fotoDePerfil" type="file" class="form-control" id="fotoDePerfil">
					</div>
					<button type="submit" class="btn btn-primary">Entregar</button>
				</form>
			</h2>

			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->